
.img  {
  background-image: url("../../../images/freepic-premium-assets.jpg");
  
}

.menuBurgerItem{
    color:rgb(255, 255, 255) !important;
}
.speedDial {
    position: fixed;
    right: 3vmax;
    top: 3vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
  }
  